html, body, .page {overflow: hidden;  background-image: url("../image/fondo_arbol.png");}

.contMenu1{background-image: url(../image/fondo_arbol.png);  background-size: 100%;  background-repeat: no-repeat; z-index: 999999999999999; position: absolute; width: 20%; height: 100%;}
.arbol{width: 100%; height: 65%; background-image: url(../image/arbol_conceptual.png); background-size: 90%;  background-repeat: no-repeat; background-position: center;}
.menu{height: 35%; }
.part1, .part2{	width: 100%; height: 40%; display: flex;}
.p1, .p2, .p3{width: 33%; height: 100%; }
.p4, .p5 {width: 50%; height: 100%;}
p{text-align: center; margin-top: 8%; display: flex; width: 5em;}
a{border: 0px inset tan; border-radius: 5px; text-decoration: none;	color: #fff; text-align: center; padding: 2px 8px 2px 8px; font-size: 1.2vw;}
p a{margin-left: 4%;}
.p4 p a{background-color: #00ba8d;}
.p1 a{background-color: #6b8600;}
.p2 a{background-color: #a61c12;}

.p3 a:hover, .p5 a:hover, .men a:hover{background-color:#fff !important;}
.p3 a:focus, .p3 a:hover, .p3 a:active {background-color: #fff!important; text-decoration: none; color: #000 !important;}
.p5 a:focus, .p5 a:hover, .p5 a:active {background-color: #fff !important; text-decoration: none; color: #000!important;}
.men a:focus, .men a:hover, .men a:active {	background-color: #fff;	text-decoration: none; color: #000!important;}

.conte {width: 80%; height: 100%; position: absolute; right: 0;}

.men1 {height: 100%; display:block; padding: 0 10px;} .men2 {height: 100%; display:none;}
@media all and (max-width: 1330px){
	.arbol{height: 55%;}
	.menu{height: 45%;}
	.men1 {display:none;}.men2 {display:block;}
}	 
/*Menu*/
aside { width: 50%; margin: 0 2%;}

.nav--vertical {list-style-type: none; margin: 0; padding: 0;}
.nav--vertical a {color: #FFF; font-size: 1.2vw;}
.nav--vertical a:hover {color: #bdbdbd; background-color: #BDBDBD;}
.nav--vertical li {position: relative; display: block;}
.nav--vertical li.dropmenu ul {display: none;}
.nav--vertical li.dropmenu:hover > ul {display: block;}
.nav--vertical li.dropmenu:after {
  content: "";
  position: absolute;
  right: 4px;
  top: 40%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #fff;
}
.nav--vertical > li a {text-align: left; text-decoration: none; padding: 4px 8px; display: block; margin-bottom: 1px;}
.nav--vertical > li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 100%;
}
.nav--vertical > li ul.level1, .nav--vertical > li ul.level2 { top: 0;  border-left: 1px solid #fff;}

.nav--vertical li a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav--vertical > li > a {background: #e5e5e5;}
.nav--vertical > li .level1 > li a {width: 100%;}

.nav--vertical li:hover a {background: #ccc;}
.nav--vertical li:hover li:hover > a {background: #ccc;}