@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7myjJTVBNI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7mxEIjVBNI0.ttf) format('truetype');
}
