@charset "utf-8";
/* CSS Document */

/******************************************************NO MODIFICAR ESTOS ESTILOS****************************************************/
html{overflow: hidden;}






#Stage_PC{
    position: fixed!important;
    
}
body{
font-family: 'Yanone Kaffeesatz'!important;
	
}

.css-selector {
  font-family: 'Yanone Kaffeesatz'!important;
	
}