
		*{margin: 0;}		
		body, html {height:100%; width:100%; margin: 0px;}
		body { 
			width: 100%;
			height: 100%;
			text-align: left;
		  	background: url("fondo.jpg") no-repeat fixed center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;				
			font-family:Arial, Helvetica Neue, Helvetica, sans-serif; 
			overflow: auto;
		}
.quiz-wrapper {position: relative; display: block; width: 80%; margin: auto;/* background-color: rgba(134, 107, 107, 0.4);*/}
.quiz-wrapper p.question-description {color: #000000; text-align: center; padding: 56px 20px; font-style: italic;}
.quiz-wrapper ul.options {position: relative; display: inline-block; vertical-align: top; list-style: none; border: 1px solid #008998; text-align: center; padding: 0 17%; margin: 0;}
.quiz-wrapper ul.options li {border: 1px solid transparent; padding: 6px 8px;}
.quiz-wrapper ul.options li.title { background: #008998; color: white;}
.quiz-wrapper ul.options li.option {display: block; position: relative; z-index: 50;  cursor: pointer; color: #000000;}
.quiz-wrapper .answers {display: inline-block; width: 65%;  line-height: 20px; color: #000000;}
.quiz-wrapper .answers .target {display: inline-block; width: 15%; margin: 0 3px;  text-align: center; padding: 0%; border-bottom: 1px dotted;}
.quiz-wrapper button[type="submit"] {display: block; position: relative; margin: 10px auto; padding: 10px; background: #008998; border: none; color: white;  font-size: 16px;}
.lightbox-bg {display: none; position: absolute; z-index: 100; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.7);}
.status {display: none; position: absolute; z-index: 110; text-align: center; width: 80%; top: 30%; left: 10%;}
.status p {background: white; padding: 30px;}

@media all and (max-width: 950px){ .quiz-wrapper .answers{width: 100%;} .quiz-wrapper ul.options li.option{float: left;}

}
